[Desktop Entry]
Name=Ulauncher
Comment=Application launcher for Linux
Categories=GNOME;GTK;Utility;
Exec=env GDK_BACKEND=x11 /usr/bin/ulauncher --hide-window
Icon=/usr/share/ulauncher/icons/ulauncher.svg
Terminal=false
Type=Application
